<div class=author-info>
    <img src="{{ site.author_image_path }}" class=author-image />
    <h1 class=author-name><a href=/>{{ site.author_name }}</a></h1>
    <div class=home-nav>
        <ul>
          <li><a href="/2021/">Home</a></li>
          <li><a href="https://2021.emnlp.org/registration">Registration</a></li>
          <li><a href="/2021/call-for-papers/">Call for Papers</a></li>
          <li><a href="/2021/program/#accepted-papers" style="color: #A55858;">Accepted Papers</a></li>
          <li><a href="/2021/program/">Workshop Program</a></li>
          <li><a href="/2021/organizing-team/">Organizing Team</a></li>
          <li><a href="https://github.com/causaltext/causal-text-papers">Curated Research</a></li>
          <!--<li><a href="https://www.softconf.com/emnlp2021/CI-NLP/" style="color: #A55858;">Submit Paper</a></li>-->
        </ul>
    </div>
</div>
